
.card-header{
    display: flex;
    background: #FD841F;
    color: white;
    justify-content: space-between;
}
.btn-add-data{
    border: none;
    border-radius: 5px;
    color: white;
    background: blue;
    outline: none;
}
.card{
    border: 1px solid #FD841F;
    overflow: hidden;   
}
.btn-light{
    border: none;
    border-radius: 5px;
    color: black;
    background: #e2e2e4;
    padding-left: 5px;
}
.input-custom{
    outline: none;
}
.btn-request-otp{
    margin-top: 35px;
}
.outbox{
    margin-top: 30px;
}